registry=http://13.233.197.84:8081/repository/nodejs-repo/
email=dsp.eee222@gmail.com
#always-auth=true
#_auth=YWRtaW46YWRtaW4xMjM=
//registry.npmjs.org/:_auth=YWRtaW46YWRtaW4xMjM=
allowRepublish=true
